.main-container{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;	
    width: 80%;
    float: center;
    margin-left: 10%;
    margin-right: 5%;
    height: 100%;
}
img{
width: 120px;
height: 120px;
float: center;
margin-left: 42%;
margin-bottom: 8%;
}
body{
    height: 100%;
    width:90%;
    background-color:#3C3E52;

}
h2{
    transition-duration: 1s;
    font-weight: 200;
    color: #020202;
    text-align: center;
}
.container{
    padding: 20px 0;
    position: center;
    margin-top: 2%;
    margin-left: 10%;
    background-color: #ffffff5d;
    border-radius: 8px

}
input{
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    appearance: none;
    border: 1px solid white;
    background-color: white;
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 15px auto;
    text-align: center;
    font-size: 20px;
    transition-duration: 0.25s;
    font-weight: 300px;
    }
.input:focus{
        width: 300px;
    }
.login-button{
		appearance: none;
		outline: 0;
		background-color:rgba(7, 33, 87, 0.363) ;
		border: 0;
		border-radius: 4px;
		width: 250px;
		cursor: pointer;
		font-size: 18px;
        transition-duration: 0.25s;
        margin-bottom: 2%;
        text-decoration: none;
}
.login-button:hover{
    background-color:rgba(11, 64, 179, 0.836);
}	
a{
    text-decoration: none;
} 

#other-button{
    margin-top: 10%
}
@media screen and (max-width:600px){
    .main-container{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;	
        width: 80%;
        float: center;
        margin-left: 10%;
        margin-right: 5%;
        height: 100%;
    }
    .container{
        padding: 10px 0;
        position: center;
        margin-top: 0%;
        margin-left: 2%;
        background-color: #ffffff05;
        border-radius: 2px
    }
    .login-button{
		appearance: none;
		outline: 0;
		background-color:rgba(7, 33, 87, 0.363) ;
		border: 0;
		border-radius: 4px;
		width: 190px;
		cursor: pointer;
		font-size: 10px;
        transition-duration: 0.25s;
        margin-bottom: 2%;
        text-decoration: none;
    }
input{
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    appearance: none;
    border: 1px solid white;
    background-color: white;
    width: 190px;
    border-radius: 1px;
    padding: 5px 5px;
    margin: 0 auto 5px auto;
    text-align: center;
    font-size: 10px;
    transition-duration: 0.25s;
    font-weight: 300px;
    }
    .input:focus{
        width: 195px;
    }
}

@media screen and (max-width:270){
    h2{
        transition-duration: 1s;
        font-weight: 20;
        color:black;
        float: left;
        font-size: 12px;
    }
    img{
        width: 90px;
        height: 90px;
        float: auto;
        margin-left: 20%;
        margin-bottom: 2%;
        }
        .input:focus{
            width: 20px;
        }
    .container{
        padding: 2px 0;
        position: center;
        margin-top: 0%;
        margin-left: 0%;
        background-color: #ffffff05;
        border-radius: 2px
    }
    input{
        font-family: 'Source Sans Pro', sans-serif;
        display: block;
        appearance: none;
        border: 1px solid white;
        background-color: white;
        width: 50px;
        border-radius: 1px;
        padding: 1px 1px;
        margin: 0 auto 5px auto;
        text-align: left;
        font-size: 5px;
        transition-duration: 0.25s;
        font-weight: 300px;
        }
}
